<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="in.aprilfish.mapper.UserMapper">


    <select id="select" parameterType="in.aprilfish.mapper.User" resultType="in.aprilfish.mapper.User">
        select * from user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="createDate != null">
                AND create_date = #{createDate}
            </if>
        </where>
    </select>

</mapper>